In [2]:
print("Hello")

Hello

In [156]:
import pandas as pd
import numpy as np

In [157]:
dt = pd.read_csv("play_tennis.csv")

In [158]:
dt

     Outlook  Temp Humidity Windy Play
0      Sunny   Hot     High     F   No
1      Sunny   Hot     High     T   No
2   Overcast   Hot     High     F  Yes
3      Rainy  Mild     High     F  Yes
4      Rainy  Cool   Normal     F  Yes
5      Rainy  Cool   Normal     T   No
6   Overcast  Cool   Normal     T  Yes
7      Sunny  Mild     High     F   No
8      Sunny  Cool   Normal     F  Yes
9      Rainy  Mild   Normal     F  Yes
10     Sunny  Mild   Normal     T  Yes
11  Overcast  Mild     High     T  Yes
12  Overcast   Hot   Normal     F  Yes
13     Rainy  Mild     High     T   No

In [159]:
dt.columns

Index(['Outlook', 'Temp', 'Humidity', 'Windy', 'Play'], dtype='object')

In [160]:
P_yes = []
P_no = []
for i in range(0, len(dt.columns) - 1):
    p_y_c = dt.iloc[0:,i][dt.Play=="Yes"].value_counts()
    p_y_sum = dt.iloc[0:,i][dt.Play=="Yes"].count()
    
    p_n_c = dt.iloc[0:,i][dt.Play=="No"].value_counts()
    p_n_sum = dt.iloc[0:,i][dt.Play=="No"].count()
    
    p_y = p_y_c / p_y_sum
    p_n = p_n_c / p_n_sum
    
    P_yes.append(p_y)
    P_no.append(p_n)

Play = dt.Play.value_counts() / dt.Play.count()

In [161]:
Play

Yes    0.642857
No     0.357143
Name: Play, dtype: float64

In [164]:
P_pyes = P_yes[0].Rainy*P_yes[1].Cool*P_yes[2].High*P_yes[3].F*Play.Yes
P_pno = P_no[0].Rainy*P_no[1].Cool*P_no[2].High*P_no[3].F*Play.No

In [165]:
P_pyes

0.015873015873015872

In [166]:
P_pno

0.009142857142857145

In [167]:
PY = P_pyes/(P_pyes + P_pno)
PN = P_pno/(P_pyes + P_pno)

In [168]:
PY

0.6345177664974618

In [169]:
PN

0.3654822335025381